@model DrivingSchool.Context.AppDbContext;
@{
    ViewData["Title"] = "Exams";
}

<h4 class="text-black text-center">EXAMS</h4>
<br />
<br />

@using (Html.BeginForm("MethodSwitcher", "Exam", FormMethod.Post))
{
    <div class="container">
        <div class="row align-items-center" align="center">
            <div class="col">
                <input type="submit" value="Create" class="btn btn-sm btn-success" name="button" />
            </div>
            <div class="col">
                <input type="submit" value="Delete" class="btn btn-sm btn-warning" name="button" />
            </div>
        </div>
    </div>

    <br />

    <div class="container">
        <table class="table table-sm table-bordered">
            <tr>
                <th>
                    <div class="form-check">
                        <input type="checkbox" id="checkAll" class="cb-element" />
                    </div>
                </th>
                <th>День экзамена</th>
                <th>Студент</th>
                <th>Авто</th>
                <th>Инструктор</th>
                <th>Отдел ГИБДД</th>
            </tr>
            @foreach (Exam exam in Model.Exams.ToList())
            {
                <tr>
                    @{
                        Student student = Model.Students.Find(exam.StudentID);
                        Car car = Model.Cars.Find(exam.CarID);
                        Instructor instructor = Model.Instructors.Find(exam.InstructorID);
                    }
                    <td>
                        <div class="form-check">
                            <input type="checkbox" name="IDs" value="@exam.ID" class="cb-element" />
                        </div>
                    </td>
                    <td>@Html.Raw(exam.DateExam.ToString("d"))</td>
                    <td>@Html.Raw(student.FName + " " + student.MName)</td>
                    <td>@Html.Raw(car.Brand + " " + car.Color)</td>
                    <td>@Html.Raw(instructor.FName + " " + instructor.MName)</td>
                    <td>@Html.Raw(exam.TraffPoliceDep)</td>
                    <td><input type="submit" class="btn btn-sm btn-primary" value="Update" asp-action="Update" asp-controller="Exam" asp-route-ID="@exam.ID" /></td>
                </tr>
            }
        </table>
    </div>

}

<script src="~/js/jquery/jquery.js"></script>
<script src="~/js/Checkbox.js"></script>